{% extends 'navbar.html' %}

{% block content %}


    <div class="" style="margin-top: 9px;">


        <div class="container" style="margin-top: 0.9%;align-items: center;  ">


            <div class="row" style="">

                {% for parameter in parameter %}


                <div class="col" style="margin: 1%; float:left; ">

                    <div class="card" style=" ">
{#                        <img src="../{{ val.product_image }}" style="width: auto;height: 250px" class="card-img-top"#}
{#                             alt="...">#}

                        <iframe class="card-img-top" style="width: auto;height: 250px" src="{{ parameter.project_link_youtube}}" title="YouTube video player" ></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{ parameter.project_name }}</h5>
{#                            <p class="card-text">dddddddddddddddddduild on the card title and make up the bulk of#}
{#                                the#}
{#                                card's content.</p>#}
                            <a href="view/{{ parameter.id }}" class="btn btn-primary">View Project {{ parameter.id }}</a>
                        </div>
                    </div>

                </div>
                    {{ parameter.product_link }}

 {% endfor %}

            </div>

        </div>


    </div>


{% endblock %}